APP_ENV=development
EXPO_PUBLIC_SUPABASE_URL=https://lzgnuqwvsioinwwrsdvn.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_fJTEMeoW5pPTS2MFYSvRjA_GpRoFN2I
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyBPE3JXnJTzrN1wkrSK4PSFf86qOcbrhhs
